.body {
  background-color: #FFFFFF;
  color: #212121;
  font-family: Roboto, sans-serif;
}

.no-scroll {
  overflow: hidden;
}

.portfolio-container, .footer-wrapper, .clients-container, .team-container, .works-container, .feature-container, .hero__container, .header-wrapper {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .portfolio-container, .footer-wrapper, .clients-container, .team-container, .works-container, .feature-container, .hero__container, .header-wrapper {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio-container, .footer-wrapper, .clients-container, .team-container, .works-container, .feature-container, .hero__container, .header-wrapper {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-container, .footer-wrapper, .clients-container, .team-container, .works-container, .feature-container, .hero__container, .header-wrapper {
    width: 1200px;
  }
}

.footer__logo, .header__logo {
  display: block;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #2196F3;
  font-family: Raleway, sans-serif;
  font-size: 24px;
  line-height: 1.17;
}

.projects, .filters, .footer-address__list, .clients, .social-networks, .team, .works, .feature, .menu-social, .header-contacts, .header-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header {
  border: 1px solid #ECECEC;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767.5px) {
  .header-wrapper {
    position: relative;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header__logo {
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 1200px) {
  .header__logo {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 93px;
  }
}

.header__logo--part {
  color: #000000;
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  z-index: 2;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button__icon:hover .menu-button__icon--close,
.menu-button__icon:focus .menu-button__icon--close {
  fill: #2196F3;
}

.menu-button .menu-button__icon--menu {
  display: none;
}

.menu-button.is-open .menu-button__icon--menu {
  display: block;
}

.menu-button.is-open .menu-button__icon--close {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu__container .header-contacts {
    margin-left: 96px;
    padding-top: 21px;
    padding-bottom: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .menu__container .header-contacts {
    margin-left: 300px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
@media screen and (max-width: 767.5px) {
  .menu__container {
    display: none;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    background-color: #fff;
    z-index: 1;
  }
  .menu__container .header-contacts {
    margin-top: auto;
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 768px) {
  .menu__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
  }
}

@media screen and (max-width: 767.5px) {
  .menu__container.is-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.header-nav {
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

@media (max-width: 767.5px) {
  .header-nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

.header-nav__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .header-nav__link {
    font-size: 14px;
    line-height: 1.14;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.header-nav__link:hover, .header-nav__link:focus {
  color: #2196F3;
}

.header-nav .header-nav__link--current {
  color: #2196F3;
}
@media screen and (min-width: 768px) {
  .header-nav .header-nav__link--current {
    position: relative;
    padding-left: 2px;
    padding-right: 2px;
  }
  .header-nav .header-nav__link--current::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196F3;
    bottom: -1px;
    left: 0;
  }
}

.header-contacts {
  display: block;
}
@media screen and (min-width: 1200px) {
  .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .header-contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header-contacts__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 50px;
  }
}

.header-contacts__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .header-contacts__link {
    font-size: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .header-contacts__link {
    font-size: 14px;
    line-height: 1.14;
  }
}
.header-contacts__link:hover, .header-contacts__link:focus {
  color: #2196F3;
}
@media (max-width: 767.5px) {
  .header-contacts__link:hover, .header-contacts__link:focus {
    font-size: 34px;
  }
}

.header-contacts__icon {
  margin-right: 8px;
  fill: currentColor;
}
@media (max-width: 767.5px) {
  .header-contacts__icon {
    display: none;
  }
}

.menu-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 767.5px) {
  .menu-social {
    display: none;
  }
}

.menu-social__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.menu-social__item:not(:first-child) {
  padding-left: 10px;
}

.menu-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.portfolio-container, .footer-wrapper, .clients-container, .team-container, .works-container, .feature-container, .hero__container, .header-wrapper {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .portfolio-container, .footer-wrapper, .clients-container, .team-container, .works-container, .feature-container, .hero__container, .header-wrapper {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio-container, .footer-wrapper, .clients-container, .team-container, .works-container, .feature-container, .hero__container, .header-wrapper {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-container, .footer-wrapper, .clients-container, .team-container, .works-container, .feature-container, .hero__container, .header-wrapper {
    width: 1200px;
  }
}

.hero {
  color: #FFFFFF;
  letter-spacing: 0.06em;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 480px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-mobile.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    height: 600px;
  }
}

@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-mobile-2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mobile-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-tablet.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-tablet-2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tablet-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-desctop.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-desctop.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-desctop-2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-desctop-2x.jpg);
  }
}
.hero__title {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-transform: uppercase;
}

.hero__btn {
  font-weight: 700;
  color: #FFFFFF;
  border-radius: 4px;
  display: inline-block;
  padding: 10px 24px;
  min-width: 200px;
  border: #2196F3;
  background-color: #2196F3;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: #188CE8;
}

.section-portfolio__title, .section-feature__title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.portfolio-container, .footer-wrapper, .clients-container, .team-container, .works-container, .feature-container, .header-wrapper, .hero__container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .portfolio-container, .footer-wrapper, .clients-container, .team-container, .works-container, .feature-container, .header-wrapper, .hero__container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio-container, .footer-wrapper, .clients-container, .team-container, .works-container, .feature-container, .header-wrapper, .hero__container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-container, .footer-wrapper, .clients-container, .team-container, .works-container, .feature-container, .header-wrapper, .hero__container {
    width: 1200px;
  }
}

.projects, .filters, .footer-address__list, .clients, .social-networks, .team, .works, .feature, .header-nav, .header-contacts, .menu-social {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section-feature {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section-feature {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-feature__title {
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .feature {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

.feature__item {
  display: block;
  width: 100%;
}
@media screen and (max-width: 767.5px) {
  .feature__item {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .feature__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .feature__item {
    width: calc((100% - 90px) / 4);
  }
}

.feature__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  margin-bottom: 30px;
  background-color: #F5F4FA;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature__title {
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
@media screen and (max-width: 767.5px) {
  .feature__title {
    text-align: center;
  }
}

.feature__text {
  color: #757575;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.72;
}

.portfolio-container, .footer-wrapper, .clients-container, .team-container, .works-container, .header-wrapper, .hero__container, .feature-container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .portfolio-container, .footer-wrapper, .clients-container, .team-container, .works-container, .header-wrapper, .hero__container, .feature-container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio-container, .footer-wrapper, .clients-container, .team-container, .works-container, .header-wrapper, .hero__container, .feature-container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-container, .footer-wrapper, .clients-container, .team-container, .works-container, .header-wrapper, .hero__container, .feature-container {
    width: 1200px;
  }
}

.section-clients__title, .section-team__title, .section-works__title {
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
}
@media screen and (min-width: 1200px) {
  .section-clients__title, .section-team__title, .section-works__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.projects, .filters, .footer-address__list, .clients, .social-networks, .team, .works, .header-nav, .header-contacts, .menu-social, .feature {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section-works {
  padding-top: 0;
  padding-bottom: 94px;
}
@media (max-width: 1199.5px) {
  .section-works {
    display: none;
  }
}

.works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.works__item {
  position: relative;
}
.works__item:not(:last-child) {
  margin-right: 30px;
}

.works__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.works__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.works__text {
  margin: 0;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.portfolio-container, .footer-wrapper, .clients-container, .team-container, .header-wrapper, .hero__container, .feature-container, .works-container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .portfolio-container, .footer-wrapper, .clients-container, .team-container, .header-wrapper, .hero__container, .feature-container, .works-container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio-container, .footer-wrapper, .clients-container, .team-container, .header-wrapper, .hero__container, .feature-container, .works-container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-container, .footer-wrapper, .clients-container, .team-container, .header-wrapper, .hero__container, .feature-container, .works-container {
    width: 1200px;
  }
}

.section-clients__title, .section-team__title, .section-works__title {
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
}
@media screen and (min-width: 1200px) {
  .section-clients__title, .section-team__title, .section-works__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.projects, .filters, .footer-address__list, .clients, .social-networks, .team, .header-nav, .header-contacts, .menu-social, .feature, .works {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section-team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #F5F4FA;
}
@media screen and (min-width: 1200px) {
  .section-team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

.team__item {
  display: block;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 767.5px) {
  .team__item {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 90px) / 4);
  }
}

.team__img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}

.team__wrapper {
  padding-top: 30px;
  padding-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .team__wrapper {
    padding-bottom: 30px;
  }
}

.team__name, .team__prof {
  letter-spacing: 0.03em;
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
}

.team__name {
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 10px;
}

.team__prof {
  color: #757575;
  margin-top: 0;
  margin-bottom: 16px;
}

.projects, .filters, .footer-address__list, .clients, .social-networks, .header-nav, .header-contacts, .menu-social, .feature, .works, .team {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.social-networks__item:not(:last-child) {
  margin-right: 10px;
}

.social-networks__link {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #AFB1B8;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-networks__link:hover, .social-networks__link:focus {
  color: #FFFFFF;
  background-color: #2196F3;
}

.social-networks__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.portfolio-container, .footer-wrapper, .clients-container, .header-wrapper, .hero__container, .feature-container, .works-container, .team-container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .portfolio-container, .footer-wrapper, .clients-container, .header-wrapper, .hero__container, .feature-container, .works-container, .team-container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio-container, .footer-wrapper, .clients-container, .header-wrapper, .hero__container, .feature-container, .works-container, .team-container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-container, .footer-wrapper, .clients-container, .header-wrapper, .hero__container, .feature-container, .works-container, .team-container {
    width: 1200px;
  }
}

.section-clients__title, .section-works__title, .section-team__title {
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
}
@media screen and (min-width: 1200px) {
  .section-clients__title, .section-works__title, .section-team__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.projects, .filters, .footer-address__list, .clients, .header-nav, .header-contacts, .menu-social, .feature, .works, .team, .social-networks {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section-clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section-clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.clients__item {
  width: calc((100% - 30px) / 2);
  height: 92px;
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 150px) / 6);
  }
}

.clients__link {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: transparent;
  text-decoration: none;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color: #AFB1B8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  color: #2196F3;
  border: 1px solid #2196F3;
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.portfolio-container, .footer-wrapper, .header-wrapper, .hero__container, .feature-container, .works-container, .team-container, .clients-container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .portfolio-container, .footer-wrapper, .header-wrapper, .hero__container, .feature-container, .works-container, .team-container, .clients-container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio-container, .footer-wrapper, .header-wrapper, .hero__container, .feature-container, .works-container, .team-container, .clients-container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-container, .footer-wrapper, .header-wrapper, .hero__container, .feature-container, .works-container, .team-container, .clients-container {
    width: 1200px;
  }
}

.footer__logo, .header__logo {
  display: block;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #2196F3;
  font-family: Raleway, sans-serif;
  font-size: 24px;
  line-height: 1.17;
}

.projects, .filters, .footer-address__list, .header-nav, .header-contacts, .menu-social, .feature, .works, .team, .social-networks, .clients {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-wrapper {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer-wrapper {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    text-align: left;
  }
}

.footer__logo {
  margin-top: 0;
  margin-bottom: 20px;
}

.footer__logo--part {
  color: #FFFFFF;
}

@media screen and (max-width: 1199.5px) {
  .footer-container-address {
    margin-bottom: 60px;
  }
}

.footer-address {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  letter-spacing: 0.03em;
}
.footer-address__item:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .footer-address__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer-address__map {
  color: #FFFFFF;
  text-decoration: none;
  display: block;
  margin-top: 0;
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .footer-address__map {
    margin-bottom: 9px;
  }
}

.footer-address__link {
  text-decoration: none;
  display: block;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-address__link:hover, .footer-address__link:focus {
  color: #2196F3;
}

@media screen and (max-width: 767.5px) {
  .footer-join {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-join {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: auto;
    margin-left: 70px;
  }
}

.footer-join__text, .subscription__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media screen and (min-width: 1200px) {
  .footer-join__text, .subscription__title {
    text-align: left;
  }
}

.footer-join__link {
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-join__link:hover, .footer-join__link:focus {
  color: #FFFFFF;
  background-color: #2196F3;
}

.subscription__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767.5px) {
  .subscription__form {
    max-width: 450px;
  }
}
@media screen and (max-width: 1199.5px) {
  .subscription__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .subscription__form {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscription__form {
    width: 570px;
  }
}

.subsription__input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 15px 16px;
  outline: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
}
@media screen and (max-width: 1199.5px) {
  .subsription__input {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .subsription__input {
    margin-right: 12px;
  }
}

.subsription__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFFFFF;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding: 10px 28px;
  -webkit-transition-property: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1199.5px) {
  .subsription__btn {
    width: 200px;
  }
}
.subsription__btn:hover, .subsription__btn:focus {
  background-color: #188ce8;
}

.subscription__icon {
  width: 24px;
  height: 24px;
  fill: #FFFFFF;
  -ms-flex-item-align: center;
      align-self: center;
  margin-left: 10px;
}

.section-portfolio__title, .section-feature__title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.portfolio-container, .header-wrapper, .hero__container, .feature-container, .works-container, .team-container, .clients-container, .footer-wrapper {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .portfolio-container, .header-wrapper, .hero__container, .feature-container, .works-container, .team-container, .clients-container, .footer-wrapper {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio-container, .header-wrapper, .hero__container, .feature-container, .works-container, .team-container, .clients-container, .footer-wrapper {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-container, .header-wrapper, .hero__container, .feature-container, .works-container, .team-container, .clients-container, .footer-wrapper {
    width: 1200px;
  }
}

.projects, .filters, .header-nav, .header-contacts, .menu-social, .feature, .works, .team, .social-networks, .clients, .footer-address__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section-portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section-portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-bottom: 40px;
}
@media screen and (max-width: 767.5px) {
  .filters {
    -webkit-column-gap: 8px;
       -moz-column-gap: 8px;
            column-gap: 8px;
    row-gap: 15px;
  }
}
@media screen and (min-width: 768px) {
  .filters {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
  .filters__item:not(:last-child) {
    margin-right: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .filters {
    margin-bottom: 50px;
  }
}

.filters__btn {
  font-weight: 500;
  text-align: center;
  border-radius: 4px;
  display: inline-block;
  padding: 6px 22px;
  border: 1px solid transparent;
  background-color: #F5F4FA;
  font-family: inherit;
  color: inherit;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filters__btn:hover, .filters__btn:focus, .filters__btn--current {
  background-color: #2196F3;
  color: #FFFFFF;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    gap: 30px;
  }
}

.projects__item {
  width: 100%;
}
@media screen and (max-width: 767.5px) {
  .projects__item {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .projects__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .projects__item {
    width: calc((100% - 60px) / 3);
  }
}

.projects__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__link:hover, .projects__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__discription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
}

.projects__img {
  width: 100%;
  display: block;
  max-width: 100%;
  height: auto;
}

.projects__text {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  color: #FFFFFF;
  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  margin: 0;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__item .projects__link:hover .projects__text, .projects__item .projects__link:focus .projects__text {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.projects__container {
  padding: 20px 24px;
  border: solid #EEEEEE;
  border-width: 0 1px 1px 1px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.projects__name {
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 4px;
  color: #212121;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project__cat {
  color: #757575;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.87;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
  z-index: 111;
  padding-top: 80px;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -30%) scale(0);
          transform: translate(-50%, -30%) scale(0);
  opacity: 0;
}

.modal {
  background-color: #FFFFFF;
  position: absolute;
  top: 60%;
  left: 50%;
  padding: 40px;
  overflow: auto;
  -webkit-transform: translate(-50%, -30%), scale(1);
          transform: translate(-50%, -30%), scale(1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow: auto;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}
@media screen and (max-width: 479.5px) {
  .modal {
    width: calc(100% - 30px);
  }
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal .close-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
  cursor: pointer;
}

.close-btn__icon {
  width: 18px;
  height: 18px;
}
.close-btn:hover .close-btn__icon, .close-btn:focus .close-btn__icon {
  fill: #2196F3;
}

.modal-form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 12px;
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.modal-form__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.modal-form__wrapper {
  position: relative;
}

.modal-form__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.modal-form__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
  color: #212121;
  outline: none;
}
.modal-form__wrapper .modal-form__input:not(:last-child) {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 42px;
  padding-right: 12px;
}
.modal-form__input:focus, .modal-form__input:hover {
  border: 1px solid #2196F3;
}

.modal-form__field.modal-form__field--margin {
  margin-bottom: 20px;
}

.modal-form__input--textarea {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 120px;
}

.modal-form__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:focus + .modal-form__icon, .modal-form__input:hover + .modal-form__icon {
  fill: #2196F3;
}

.modal-form__checkbox {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 30px;
}

.modal-form__checkbox .modal-form__label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 0;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .modal-form__checkbox .modal-form__label {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-form__checkbox .modal-form__checkbox-condition {
  color: #2196F3;
  border-bottom: 1px solid #2196F3;
}

.modal-form__label .modal-form__checkbox-input {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.modal-form__checkbox-input:focus + .modal-form__checkbox-icon {
  border: 2.5px solid #2196F3;
}

.modal-form__checkbox .modal-form__checkbox-icon {
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2.5px solid #212121;
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__label .modal-form__checkbox-input:checked + .modal-form__checkbox-icon,
.modal-form__label .modal-form__checkbox-input:checked + .modal-form__checkbox-icon {
  background-image: url(../images/check.svg);
  border-color: transparent;
  background-color: #2196F3;
  background-size: contain;
  background-origin: border-box;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form .modal-form__btn {
  -ms-flex-item-align: center;
      align-self: center;
  display: inline-block;
  min-width: 200px;
  padding: 10px 32px;
  font-family: inherit;
  color: #FFFFFF;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding: 10px 52px;
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form .modal-form__btn:hover, .modal-form .modal-form__btn:focus {
  background-color: #188ce8;
}/*# sourceMappingURL=main.css.map */