@import '../utils/container';
@import '../utils/logo';
@import '../utils/list';

.header {
    border: $line-header solid $line-color;     
    
}
.header-wrapper {
    @extend %container;
    display: flex;
    align-items: center;
    @media screen and (max-width: 767.5px) {
        position: relative;        
        justify-content: space-between;
    }
}
.header__logo {
    @extend %logo;
    padding-top: 16px;
    padding-bottom: 16px;
    @media screen and (min-width: 1200px) {
        padding-top: 26px;
        padding-bottom: 26px;
        margin-right: 93px;
    }
}
.header__logo--part {
    color: $black-color;
}
.menu-button {
    display: inline-flex;
    z-index: 2;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;   
    padding-top: 10px;
    padding-bottom: 10px;

    @media screen and (min-width: 768px) {
        display: none;
    }
}
.menu-button__icon {
    transition: fill $timing $cubic;
}
.menu-button__icon:hover,
.menu-button__icon:focus {
    fill: $blue-color;
}
.menu-button .menu-button__icon--menu {
    display: none;
}
.menu-button.is-open .menu-button__icon--menu {
    display: block;
}
.menu-button.is-open .menu-button__icon--close {
    display: none;
}

.menu__container {
    & .header-contacts {
        @media screen and (min-width: 768px) {
            margin-left: 96px;            
        }
        @media screen and (min-width: 1200px) {
            margin-left: 300px;            
        }
    }
    @media screen and (max-width: 767.5px) {
        opacity: 0;
        visibility: hidden;
        position: absolute;    
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;  
        padding-top: 48px;
        padding-bottom: 48px;
        padding-left: 40px;
        background-color: #fff;
        z-index: 1;
        
        transition: opacity $timing $cubic,
                    visibility $timing $cubic;
        
        & .header-contacts {
            margin-top: auto;
            margin-bottom: 64px;            
        }
    }
    @media screen and (min-width: 768px) {   
        display: flex;
        align-items: center;
        margin-left: auto;        
    }
}
@media screen and (max-width: 767.5px) {    
    .menu__container.is-open {
        opacity: 1;
        visibility: visible;
        display: flex;
        flex-direction: column;
    }
}
.header-nav {
    @extend %list;
    margin-right: auto;
    @media screen and (min-width: 768px) {    
        display: flex;
        align-items: center;        
        &__item:not(:last-child) {
            margin-right: 50px;
        }
    }
}
    
.header-nav__item {
    @media (max-width: 767.5px) {
        &:not(:last-child) {
            margin-bottom: 32px;
        }
    }
}
.header-nav__link {
    text-decoration: none;
    font-weight: 500;    
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: $black-text-color;
    transition: color $timing $cubic;
    @media screen and (min-width: 768px) {        
        font-size: 14px;
        line-height: 1.14;
        display: flex;
        align-items: center;
        padding-top: 32px;
        padding-bottom: 32px;    
    }   
    &:hover, &:focus {
        color: $blue-color;
    }
    
}
.header-nav .header-nav__link--current {
    color: $blue-color;
    @media screen and (min-width: 768px) {
        position: relative;
        padding-left: 2px;
        padding-right: 2px;
        &::after {
            position: absolute;
            content: '';
            display: block;
            width: 100%;
            height: 4px;
            border-radius: 2px;
            background-color: $blue-color;
            bottom: calc(0px - $line-header);
            left: 0;
        }
    }    
}

.header-contacts {  
    @extend %list;
    display: block;    
    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: center;             
    }    
}
.header-contacts__item:not(:last-child) {    
    margin-bottom: 32px;    
    @media screen and (min-width: 768px) {
        margin-bottom: 10px;     
    }
    @media screen and (min-width: 1200px) {
        margin-bottom: 0;
        margin-right: 50px;
    }    
}

.header-contacts__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    color: $grey-text-color;

    transition: color $timing $cubic;          
    
    &.header-contacts__padding-top {
        @media screen and (min-width: 768px) {
            padding-top: 21px;
        }
        @media screen and (min-width: 1200px) {            
            padding-top: 32px;
            padding-bottom: 32px;
        }            
    }
    &.header-contacts__padding-bottom {
        @media screen and (min-width: 768px) {
            padding-bottom: 21px;
        }
        @media screen and (min-width: 1200px) {            
            padding-top: 32px;
            padding-bottom: 32px;
        }
    }
    
    @media screen and (min-width: 768px) {
        font-size: 12px;
        display: flex;
        align-items: center;               
    }
    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.14;        
    }    
    &:hover, &:focus {
        color: $blue-color;
        @media (max-width: 767.5px) {
            font-size: 34px;
        }                
    }
}
.header-contacts__icon {    
    margin-right: 8px;
    fill: currentColor;
    @media (max-width: 767.5px) {
        display: none;
    }
}
.menu-social {
    @extend %list;
    display: flex;
    flex-wrap: wrap;
    @media (min-width: 767.5px) {
        display: none;
    }
}
.menu-social__item:not(:last-child) {
    border-right: 1px solid rgba(33,33,33,.2);
    padding-right: 10px;
    @media (max-width: 380px) {
        padding-right: 6px;
    }    
}
.menu-social__item:not(:first-child) {
    padding-left: 10px;
    @media (max-width: 380px) {
        padding-left: 6px;
    }
}
.menu-social__link {    
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: $blue-color;
    @media (max-width: 420px) {
        font-size: 14px;
    }
}