@import '../utils/hidden';
@import '../utils/container';
@import '../utils/list';

.section-portfolio {
    padding-top: 60px;
    padding-bottom: 60px;    
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    } 
}
.portfolio-container {
    @extend %container;
}
.section-portfolio__title {
    @extend %hidden;   
}
.filters {
    @extend %list;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-bottom: 40px;
    @media screen and (max-width: 767.5px) {
        column-gap: 8px;
        row-gap: 15px;
    }    
    @media screen and (min-width: 768px) {
        justify-content: center;
        margin-bottom: 30px;
        &__item:not(:last-child) {
            margin-right: 8px;
        }
    }
    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
    }    
}
.filters__btn {
    font-weight: 500;
    text-align: center;
    border-radius: 4px;
    display: inline-block;
    padding: 6px 22px;
    border: 1px solid transparent;
    background-color: $grey-background;
    font-family: inherit;
    color: inherit;
    font-size: 16px;
    line-height: 1.62;
    cursor: pointer;

    transition: color $timing $cubic,
                background-color $timing $cubic,
                box-shadow $timing $cubic;

    &:hover, &:focus, &--current {
        background-color: $blue-color;
        color: $white-color;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
                    0px 1px 2px rgba(0, 0, 0, 0.08),
                    0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}
.projects {
    @extend %list;
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        gap: 30px;
    }    
}
.projects__item {
    width: 100%;
    @media screen and (max-width: 767.5px) {
        margin-bottom: 30px;
    }
    @media screen and (min-width: 768px) {
        width: calc((100% - 30px) / 2);
    }
    @media screen and (min-width: 1200px) {
        width: calc((100% - 2 * 30px) / 3);
    }                  
}
.projects__link {
    display: flex;
    height: 100%;
    flex-direction: column;
    text-decoration: none;
    transition: box-shadow $timing $cubic;

    &:hover, &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
                    0px 4px 4px rgba(0, 0, 0, 0.06), 
                    1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}
.projects__discription {
    display: flex;
    position: relative;
    overflow: hidden;
}
.projects__img {
    width: 100%;
    display: block;
    max-width: 100%;
    height: auto;
}
.projects__text {
    position: absolute;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    background-color: rgba(33, 150, 243, 0.9);
    color: $white-color;
    width: 100%;
    height: 100%;
    padding-left: 24px;
    padding-right: 24px;
    margin: 0;

    transform: translateY(101%);
    transition: transform $timing $cubic;

    .projects__item .projects__link:hover &,
    .projects__item .projects__link:focus & {
        transform: translateY(0%);    
    }
}
.projects__container {
    padding: 20px 24px;
    border: solid $border-portfolio;
    border-width: 0 1px 1px 1px;  
    flex-grow: 1;  
}
.projects__name {
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 4px;
    color: $black-text-color;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.project__cat {
    color: $grey-text-color;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.87;
}
