%section-title {
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.17;
    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;    
        font-size: 36px;
        line-height: 1.17;
    }    
}