$blue-color: #2196F3;
$black-color: #000000;
$black-text-color: #212121;
$grey-text-color: #757575;
$blackout-color: #FFFFFF99;
$white-color: #FFFFFF;
$black-background: #2F303A;
$grey-background: #F5F4FA;
$press-button: #188CE8;
$line-color: #ECECEC;
$border-portfolio: #EEEEEE;
$fill-icon: #AFB1B8;
$footer-social-icon: rgba(255, 255, 255, 0.1);
$line-header: 1px;
$timing: 250ms;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);